.SchedulerEvent_state_active-warning {
    background-color: rgba(232, 181, 230, 0.5);
    z-index: 4;
    color: #fff;

    .SchedulerEvent__period,
    .SchedulerEvent__description {
        color: #fff;
    }
}

.SchedulerEvent_state_error {
    background-color: #ff0000;
    z-index: 3;
}

.SchedulerEvent_state_warning {
    background-color: transparent;
    z-index: 3;
}

.SchedulerEvent_selected {
    border: 1px dashed rgb(187, 82, 184);
}
